---
import Header from "../components/react/Header";
import Footer from "../components/vue/Footer.vue";
---

<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Header client:load />
		<slot />
		<Footer client:visible />
	</body>
</html>
